body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-black: #212121;
    --color-white: #FFFFFF;
    --color-grey: #757575;
    --color-portfolio-listo-utline: #EEEEEE;
    --color-blue: #2196F3;
    --color-background-button: #F5F4FA;
    --color-webstudio: 000000;
    --color-footer-info: #FFFFFF;
    --color-footer: #2F303A;
    --color-header-outline: ECECEC;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1300px;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-navigation-list{
    display: flex;
    gap: 50px;
}
.head-list{
    display: flex;
    gap: 30px;
}
.header {
    padding: 24px 0;
    border:1px solid #ECECEC;
}

.head-link {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-black);

}

.head-navigation-list-item {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;

}

.filter-list-item {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
}
.filter-list-button{
    padding: 6px 22px;
    border-radius: 4px;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
    padding-bottom: 34px;
}

.portfolio-list-title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;

}
.section-hero{
    margin-bottom: 94px;
}
.portfolio-list-img{
    width: 370px;
    height: 294px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}
.portfolio-list-item{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-list-description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-link {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-white);

}

.footer{
    background-color: var(--color-footer);
    padding: 60px 0;

}
.footer-address-item {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color:var(--color-footer-info);
    text-decoration: none;
}
.footer-info{
    color: #FFFFFF;
}
span{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-blue);
}